.gddiv {
  display: flex;
  padding: 0 !important;
}
nav {
  box-shadow: 1px 1px 7.5px 1px rgba(16, 24, 30, 0.2);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  margin: 2% 0 2.5% 0;
}
h2 {
  text-align: center;
  padding: 0;
  color: #fa0000;
}
.v {
  color: #fff000;
}
.ce {
  color: orange;
}
ul {
  padding-left: 0;
}
ul a {
  line-height: 1.7;
  color: black !important;
}
li {
  white-space: nowrap;
}
.li {
  display: block;
  list-style-type: none;
  padding: 0.5em 4em 0.5em 2em;
}
a .li:hover {
  box-shadow: 1px 1px 5px 0 #fff000;
}
a:hover {
  color: #fff000 !important;
  transition-delay: 0.03s;
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
  nav {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-radius: 10px;
    margin: 2%;
    height: 100vh;
    width: 100vw;
  }
}
@media only screen and (min-width: 665px) and (max-width: 1023px) {
  nav {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-radius: 10px;
    margin: 20% 2%;
    height: 100vh;
    width: 100vw;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1325px) {
  
}