* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
  letter-spacing: 3px;
  height: 0;
}
.form-container {
  background: #fafafa;
  color: #00a5ff;
  text-align: center;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}
@keyframes animated {
  0% {
    transform: scale(1, 0);
  }
  100% {
    transform: scale(1, 1);
  }
}
.form-container > svg {
  display: block;
  transform-origin: bottom;
  position: absolute;
  bottom: 0;
  animation: animated 1s cubic-bezier(0.23, 1, 0.32, 1) forwards;
}
form {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 30%;
  padding-bottom: 200px;
}
@media screen and (max-width: 1200px) {
  form {
    width: 80%;
    font-size: 0.9rem;
    padding-bottom: 0;
  }
}
form input {
  margin-bottom: 35px;
  background: transparent;
  border: none;
  border-bottom: 2px solid black;
  color: black;
  transition: 0.5s;
  font-size: 1.1rem;
  width: 100%;
  height: 50px;
  caret-color: black;
}
form input:focus {
  outline: transparent;
  border-bottom: 2px solid #00a5ff;
}
form label {
  position: relative;
  display: flex;
  top: 10%;
}
form label span {
  position: absolute;
  top: 15px;
  color: black;
  pointer-events: none;
  transition: 0.2s;
}
span.label {
  margin-left: 40px;
  font-size: 1.2rem;
}
form a {
  color: black;
  text-decoration: none;
  margin-right: auto;
  margin-bottom: 10px;
}
form h2 {
  font-size: 2rem;
  color: #00a5ff;
  text-transform: uppercase;
}
form button {
  margin: 20px auto;
  background: #00a5ff;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 1.2rem;
  height: 40px;
  width: 100%;
  letter-spacing: 1.2px;
  cursor: pointer;
}
form input:focus + span,
input:valid + span {
  font-size: 0;
}
input:focus + span + span,
input:valid + span + span {
  left: 0;
  margin: 0;
  top: -15px;
}
