*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
button {
  outline: none;
  cursor: pointer;
}
img {
  position: relative;
  width: 100%;
  display: none;
}
.belslider {
  background-color: white;
  font-size: 25px;
  display: flex;
}
.imgslider {
  position: absolute;
  top: 100px;
  height: 21em;
  width: 100%;
}
.left, .right {
  background: linear-gradient(45deg, #f5e156 33%, #eb866d 66%, #e45079);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
  position: absolute;
  top: 0;
  padding: 15.5% 1% 15.5% 1%;
}
.left {
  left: 0;
  z-index: 1;
}
.right {
  right: 0;
  z-index: 1;
}
.left:hover, .right:hover {
  box-shadow: 1px 1px 5px 0 white, inset 1px 1px 5px 0 white;
}
.active {
  display: block;
}
.navbtn {
  position: absolute;
  bottom: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbtn button {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: 2px solid yellow;
  margin-right: 5px;
}
.navbtn button:nth-child(1) {
  background-color: white;
}
@media only screen and (max-width: 320px) {
  .left, .right {
    padding: 11.5% 1% 11.5% 1%;
    font-size: 1.5em;
  }
  .navbtn {
    bottom: 16.5em;
  }
}
@media only screen and (min-width: 321px) and (max-width: 424px) {
  .left, .right {
    padding: 11.6% 1% 11.6% 1%;
    font-size: 1.75em;
  }
  .navbtn {
    bottom: 15.7em;
  }
}
@media only screen and (min-width: 425px) and (max-width: 480px) {
  .left, .right {
    padding: 11.25% 1% 11.25% 1%;
    font-size: 2em;
  }
  .navbtn {
    bottom: 15em;
  }
}
@media only screen and (min-width: 675px) and (max-width: 1023px) {
  .left, .right {
    padding: 13.8% 1% 13.8% 1%;
    font-size: 2.5em;
  }
  .navbtn {
    bottom: 9.7em;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1325px) {
  .left, .right {
    padding: 14.35% 1% 14.35% 1%;
    font-size: 3em;
  }
  .navbtn {
    bottom: 6em;
  }
}
@media only screen and (min-width: 1326px) and (max-width: 1767px) {
  .left, .right {
    padding: 15.25% 1% 15.25% 1%;
    font-size: 3.5em;
  }
  .navbtn {
    bottom: 1em;
  }
}
@media only screen and (min-width: 1768px) and (max-width: 1823px) {
  .left, .right {
    padding: 15.5% 1% 15.5% 1%;
    font-size: 4em;
  }
  .navbtn {
    bottom: -5.5em;
  }
}
@media only screen and (min-width: 1824px) {
  .imgslider {
    top: 144px;
  }
  .left, .right {
    padding: 16.3% 1% 16.3% 1%;
    font-size: 4.5em;
  }
  .navbtn {
    bottom: -16.5em;
  }
  .navbtn button {
    border: 3.5px solid yellow;
    height: 32px;
    width: 32px;
  }
}